@use "../../../../styles/variables" as var;
.header {
  width: 100%;
  background: var.$bg-header;
  padding: 2rem 0 2rem 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);

  &__content {
    text-align: center;
    font-size: 1.2rem;
    color: var.$secondary-color;
  }
}
